@model IEnumerable<TriciaPoulter.Models.Details>
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @*<div ng-app="SearchApp" class="row">*@
        @*<div ng-controller="SearchController">*@
            <h2>Search Form</h2>
            <hr />
            <div class="form-horizontal">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input type="text" />
                        <button>Submit</button>
                        <div id="div1">
                            <ul></ul>
                            <table class="table table-responsive" id="tableID">
                                @*<tr ng-repeat="rob in robs  | filter: searchKeyword "></tr>*@
                            </table>                          
                        </div>
                    </div>
                </div>
            </div>
        @*</div>
    </div>*@
}
<table class="table table-responsive" id="mytable" style="width:100%">          
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avatar_Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Repos_Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stargazers_Url)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Avatar_Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Repos_Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stargazers_Url)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
        @section Scripts {
            @Scripts.Render("~/Scripts/load.js")
            <script src="~/Scripts/webSearch.js"></script>
        }
